{{!< default}}

{{#post}}

<article class="gh-article {{post_class}}">

    <header class="gh-header gh-canvas">
        {{#if feature_image}}
        <img class="gh-feature-image" srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 1000px, 2000px"
            loading="lazy" src="{{img_url feature_image size="xl"}}" alt="{{title}}" />
        {{/if}}
        <h1 class="gh-title">{{title}}</h1>
        <span class="gh-post-meta">
            <span class="gh-authors">
                {{#foreach authors}}
                <a class="gh-author-link" href="{{url}}" title="Visit {{name}}">{{name}}</a>
                {{/foreach}}
            </span>
            <span class="bull">|</span>
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
            <span class="bull">|</span> {{reading_time}}
        </span>
        {{#if custom_excerpt}}
        <p class="gh-excerpt">{{custom_excerpt}}</p>
        {{/if}}
    </header>

    <div class="gh-content gh-canvas">
        {{content}}
    </div>

    <footer class="gh-footer gh-canvas">
        <section class="gh-share-post">
            <h4 class="gh-share-title">Share It!</h4>
            <div class="gh-share-social">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" target="_blank"
                    rel="noopener" aria-label="Facebook">
                    <span class="social-icon">{{> "icons/facebook"}}</span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute='true'}}"
                    target="_blank" rel="noopener" aria-label="Twitter">
                    <span class="social-icon">{{> "icons/twitter"}}</span>
                </a>
            </div>
        </section>
        {{!--
        <section class="gh-post-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}

    </footer>

</article>

<aside class="gh-readmore">
    <div class="gh-readmore-inner gh-container">
        <div class="gh-readmore-next">
            {{#next_post}}<a href="{{url}}">{{> "icons/arrow-left"}} <h4>{{title}}</h4></a>{{/next_post}}
        </div>
        <div class="gh-readmore-prev">
            {{#prev_post}}<a href="{{url}}">
                <h4>{{title}}</h4> {{> "icons/arrow-right"}}
            </a>{{/prev_post}}
        </div>
    </div>
</aside>

{{/post}}